<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168391150013-n3bf4bpql7j6h0afqqfn12g9caen5r3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168391150013-n3bf4bpql7j6h0afqqfn12g9caen5r3b</string>
	<key>API_KEY</key>
	<string>AIzaSyDdruKXqsrRmS-KZoaXL3D6mOBEtqmspKw</string>
	<key>GCM_SENDER_ID</key>
	<string>168391150013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>newscard</string>
	<key>PROJECT_ID</key>
	<string>newscard-9497</string>
	<key>STORAGE_BUCKET</key>
	<string>newscard-9497.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168391150013:ios:a313744fe936337591aad4</string>
	<key>DATABASE_URL</key>
	<string>https://newscard-9497.firebaseio.com</string>
</dict>
</plist>